html,body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  background:black;
  overflow:hidden;
  text-align:center;
  font-family:sans-serif;
}

h1, p{
  color:#ffb6d5;
  text-shadow:0 0 10px #ff7eb3;
  position:relative;
  z-index:2;
}

canvas{
  position:fixed;
  inset:0;
  z-index:1;
}
